.List {
  background: #0a192f;
  flex-shrink: 0;
  width: 272px;
  height: fit-content;
  margin: 10px;
  margin-right: 0;
  color: rgb(237, 246, 255);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.List-Title {
  cursor: pointer;
  padding: 10px;
  overflow-wrap: break-word;
}

.Toggle-Add-Card {
  cursor: pointer;
  padding: 10px;
  color: #faf4f4;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}

.Toggle-Add-Card:hover {
  background-color: #62f9d8;
  color: rgb(1, 28, 43);
  text-decoration: underline;
}

.Toggle-Add-Card ion-icon {
  margin-right: 2px;
}
